*,
*::after,
*::before {
	box-sizing: border-box;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
}

a {
	display: inline-block;
}

address {
	font-style: normal;
}
