/* poppins-300 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-900 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
	padding: 0;
	box-sizing: border-box;
}

:root {
	--color-brand-light: #819b57;
	--color-brand-dark: #465929;
	--color-primary-light: #faf4ea;
	--color-primary-dark: #31261a;
	--color-brand-lighter: #cfcfbc;
	--color-secondary-dark: #a28268;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.hidden {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.section {
	padding: 48px 0px;
}

.container {
	width: 100%;
	max-width: 1288px;
	margin: 0 auto;
}

body {
	color: var(--color-primary-dark);
	background-color: var(--color-primary-light);
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
	padding: 16px 0px;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
}

address {
	font-style: normal;
}

.button {
	padding: 16px 32px;
	color: var(--color-primary-light);
	background-color: var(--color-brand-light);
	border: 2px solid var(--color-brand-light);
	border-radius: 8px;
	cursor: pointer;
	font-weight: 600;
}

.button:hover {
	color: var(--color-brand-light);
	background-color: transparent;
}

.link {
	color: var(--color-primary-light);
	text-decoration: none;
}

.link:hover {
	color: var(--color-brand-light);
}

.header-container {
	display: flex;
	align-items: center;
	gap: 40px;
}

.header-nav {
	display: flex;
	align-items: center;
	flex-grow: 1;
	gap: 40px;
}

.header-menu {
	display: flex;
	gap: 64px;
	flex-grow: 1;
	justify-content: center;
}

.header-item:last-child {
	margin-right: 0;
}

.hero-section {
	padding: 272px 0;
	background-image: url('./images/hero-bg.png');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	background-attachment: fixed;
	/* background: url('./images/hero-bg.png') no-repeat; */
}

.hero-title {
	margin-bottom: 0px;
	color: var(--color-primary-light);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 128px;
}

.advantages-section {
	padding: 16px 0;
	background-color: var(--color-brand-light);
}

.advantages-item {
	font-size: 20px;
	font-weight: 300;
	color: var(--color-primary-light);
}

.advantages-list {
	display: flex;
	gap: 40px;
	justify-content: space-between;
}

.section-title {
	font-size: 64px;
	font-weight: 900;
	line-height: 1.35;
}

.section-title.centered {
	text-align: center;
}

.hero-title .accent {
	color: var(--color-brand-light);
}

.section-title .accent {
	color: var(--color-brand-dark);
}

.traditions-container {
	display: flex;
	justify-content: space-between;
	gap: 40px;
}

.tradtitions-content {
	max-width: 710px;
}

.tradition-title {
	margin-bottom: 42px;
}

.traditions-section {
	padding-top: 96px;
}

.tradition-text.limited {
	max-width: 340px;
}

.traditions-text .brand {
	color: var(--color-brand-light);
	font-weight: 600;
}

.traditions-text .uppercase {
	text-transform: uppercase;
}

.chef-photo {
	border-radius: 4px 4px 4px 200px;
	box-shadow: -16px 16px 0 0 var(--color-primary-light),
		-16px 16px 0 2px var(--color-secondary-dark);
}

.chef-title {
	margin-bottom: 16px;
	font-size: 40px;
	font-weight: 600;
}

.chefs-title {
	max-width: 520px;
	margin: 0 auto 80px;
}

.chefs-title::before,
.chefs-title::after {
	display: block;
	width: 352px;
	border: 2px solid var(--color-brand-lighter);
	content: '';
}

.chef-card {
	display: flex;
	gap: 30px;
}

.chefs-list {
	display: flex;
	gap: 30px;
}

.chefs-item {
	flex-basis: calc((100% - 30px) / 2);
}

.formats-container {
	display: flex;
	gap: 32px;
	align-items: center;
}

.formats-list {
	display: flex;
	gap: 20px;
}

.format-card {
	height: 444px;
	background-image: url('./images/walrus.png');
	border: 1px solid lightgray;
	border-radius: 16px;
	padding: 24px;
	background-image: linear-gradient(
		180deg,
		rgba(49, 38, 26, 0) 55.21%,
		rgba(49, 38, 26, 0.71) 72.92%,
		var(--color-primary-dark) 100%
	);
}

.formats-item {
	flex-basis: calc((100% - 40px) / 3);
}

.formats-title {
	margin-bottom: 80px;
}

.format-title {
	font-size: 24px;
	font-weight: 600;
}

.contact-section {
	padding-bottom: 96px;
}

.contact-container {
	display: flex;
	gap: 32px;
}

.contact-map {
	flex-shrink: 0;
	border: none;
	border-radius: 16px;
}

.contact-title {
	margin-bottom: 16px;
}

.format-text {
	font-size: 14px;
	font-weight: 300;
}

.carousel-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	border: none;
	background-color: transparent;
	cursor: pointer;
	fill: var(--color-primary-light);
	stroke: var(--color-primary-dark);
}

.carousel-button:hover {
	stroke: var(--color-primary-light);
	fill: var(--color-primary-dark);
}

.footer-container {
	display: flex;
}

.footer-nav {
	flex-basis: 50%;
}

.footer-address {
	flex-basis: 50%;
}

.address-link {
	color: var(--color-primary-light);
	font-size: 16px;
	font-weight: 300;
	text-decoration: none;
}

.address-icon {
	fill: var(--color-primary-light);
}

.address-link:hover {
	color: var(--color-brand-light);
}

.address-copyright {
	font-size: 14px;
}

.footer {
	background-image: url('./images/footer-bg.png');
	background-color: var(--color-primary-dark);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
