:root {
	--color-brand-light: #819b57;
	--color-brand-dark: #465929;
	--color-primary-light: #faf4ea;
	--color-primary-dark: #31261a;
	--color-brand-lighter: #cfcfbc;
	--color-secondary-dark: #a28268;
}
