.hero-title {
	margin-bottom: 0px;
	color: var(--color-primary-light);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 128px;
}

.advantages-section {
	padding: 16px 0;
	background-color: var(--color-brand-light);
}

.hero-title .accent {
	color: var(--color-brand-light);
}
